body {
  background: #f7f7f7;
}

form {  
  max-width: 300px; 
  margin: 100px auto;
  background: #fff;
  padding: 40px;   
  box-shadow: 0 0 2px #ddd;
  border-radius: 10px;
}

input {
  width: 100%;
  padding: 12px 15px;  
  margin-bottom: 20px;    
  border: 1px solid #ddd;
  border-radius: 3px; 
}  

.btn-primary {
  background: #1367d2;  
  color: #fff;    
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
}